        /*******************/
/*Commentaire-sur le media and with max*/
        /*******************/

    
/******** iphone 6-7-8 ios11++ *******/




/****************************************/
@media screen and (max-width: 350px)
{
.etoile
{
  font-size: 3.5vw;
}

.p-txte
{
  font-size: 3.5vw;
}

.p-txte2
{
  font-size: 3.5vw;
}

.modif-h3-populaire
{
  font-size: 0.8em;
}

.rechercher-loupe
{
  width: 16%;
}
  
}


@media screen and (max-width: 700px) 
{

.body 
{
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul
{
margin: 0px;
padding: 0px;
border-bottom: solid 2.5px;
 color: transparent;
}

.fa, .fas
{
  font-size: large;
}

.contour-fa-info
{
  width: 25px;
  height: 25px;
}

.menu1:hover
{
  border-top: none;
  border-bottom: solid 2.5px;
  color: dodgerblue;;
}

.menu2:hover
{
  border-top: none;
  border-bottom: solid 2.5px;
  color: dodgerblue;;
}

.h1, h2, h3, p 
  {
      font-family: 'Raleway', Arial, Verdana, sans-serif
  }


.marseille-titre
{
  display: flex;
  justify-content: flex-start;
  margin: 5%;
  width: 100%;
  margin-left: 4%;
}


.style-header {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo_recherche_flex
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0%;
  justify-content: space-between;
  height: 10em;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
}

.logo_reservia {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 13px;
  margin-right: 0px;
  float: left;
  width: 50%;
    height: 40px;
    align-items: center;
    justify-content: left;
}

.hebergements-activites-sinscrire
{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 0px;
 justify-content: space-around;
}

.nav-responsive
{
  width: 100%;
}

.Nav_top
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  flex-direction: column-reverse;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Trouvez {
  font-family: "Raleway", Arial, Verdana, sans-serif;
  font-size: x-large;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.Barre_recherche {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.type-search {
  font-family: "Raleway", Arial, Verdana, sans-serif;
    font-weight: bold;
    height: 53px;
    font-size: clamp(1.2rem, 4vw, 2rem);
    width: 60%;
    border-left: none;
    margin-right: -12px;
    border-top-color: #f7f2f233;
    border-bottom-color: #f7f2f2;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 0px;
    padding-left: 20px;
}

.heb-activ {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  margin-top: 38px;
  margin-left: 0px;
  border-bottom-style: solid;
  border-color: #d7cece87;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 65px;
  align-items: center;
  width: 100%;
}

.Titres_header_barre_recherche_flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

/*******************FILTRE***********/
.Filtres_flexrow {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}


.filtres_bold {
  font-weight: bold;
  font-size: large;
  margin-right: 0%;
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

.bloc-filtres-wrap-4items
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.border-filtre-solid {
  border: 2px solid #d9d9d9;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 25px;
  flex-wrap: wrap;
  margin-bottom: 2%;
  align-items: center;
}

.categorie-filtre {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 0px;
}

.icone-information-texte
{
  font-size: 9px;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 47px;
}

.filtre-borderpx-radius-icone-wrap
{
  margin-bottom: 1%;
}

.information {
  padding: 18px;
  margin-bottom: 28px;
  width: 50px;
}

.contour-fa-info
{
  width: 85%;
  height: 30px;
  margin-bottom: 1em;
  margin-right: -10px;
}

.logements-disponibles
{
  font-size: clamp(1rem, 4vw, 2rem);
  width: auto;
}




/*****HEBERGEMENT-----POPULAIRE****/

.body-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.backgroung-hebergement {
  background-color: white;
padding: 1%;
width: 95%;
height: 13rem;
border-radius: 1em;
box-shadow: 0 0 20px #0000002e;
margin-bottom: 3%;
}

.Hebergement
{
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 2em;
  padding: 1%;
  justify-content: space-around;
  flex-wrap: wrap;
  order: 1;
  margin-top: 4%;
  width: 100%;
}

.hebergement-du-haut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 3%;
}

.hebergement-du-bas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding: 3%;
  margin-top: -6%;
}

.information-hebergement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

.prix-optim-bloc 
{
  margin-bottom: 4%;
}

/********POPULAIRE****************/
.modif-h3-populaire
{
  margin-top: 0px;
  font-size: 15px;
  width: auto;
}

.Appart-populaire
{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-bottom: 17%;
  width: auto;
  border-radius: 0px;
  margin: 0px;
}

.titre-logo-populaire-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 100%;
}

.Les-plus-populaires {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: clamp(1.4rem, 5vw, 3rem);
}

.logo-chart {
  margin-top: 0px;
  width: 6%;
  height: 66%;
}

.lestobepopulaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 3%;
  padding-top: 5%;
}

.les-apparts-populaires {
  height: 9em;
  background-color: white;
  justify-content: space-between;
  display: flex;
  border-radius: 1em;
  padding: 2%;
  box-shadow: 0 0 20px #0000002e;
}

.img-populaire-1 {
  background-image: url(Ressources/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  width: 45%;
  height: auto;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}

.informations-populaires {
  width: 44%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 0%;
  margin-left: 0%;
}

.titre-pop-prix
{
  margin-bottom: 16%;
}
.img-populaire-2 {
  background-image: url(Ressources/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  width: 45%;
  height: 9em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
  margin-right: 9%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.img-populaire-3 {
  background-image: url(Ressources/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  width: 45%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}

.titre-petite-activite2
{
  margin-top: 7%;
  margin-bottom: 0px;
}

/****************ACTIVITES******************/
.master-bloc-activites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15%;
  margin-top: 15%;
  justify-content: center;
  padding:3%
}



.titre-Activités
{
  font-size: 1.75rem;
  font-family: 'raleway',Arial, Helvetica, sans-serif;
  margin-right: 35%;
  width: 100%;
margin-bottom: 5%;
margin-left: 0%;
}

.Bloc-activités {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.actvite-num-1 {
  width: 100%;
  height: auto;
  border-radius: 1em;
  box-shadow: 0 0 20px #0000002e;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.photo-activite1 {
  background-size: 100%;
  border-radius: 15px 15px 0 0;
}

.grande-photo-activite {
  width: 100%;
  height: 10em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

.activite2-3 {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  margin-top: -18px;
}

.activite2 {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 20px;
  margin-top: 6%;
  margin-bottom: 20px;
}

.img-petite-activite {
  height: 10em;
}

.image-activite2 {
  width: 100%;
  height: 10em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
  background-image: url(Ressources/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.titre-activite-grande-photo {
  font-family: 'Raleway', Arial, Verdana, sans-serif;
  font-size: large;
  color: black;
  margin-left: 4%;
  margin-bottom: 0px;
}

.titre-petite-activite {
  font-family: 'Raleway', Arial, Verdana, sans-serif;
  font-size: large;
  color: black;
  margin-left: 4%;
  margin-top: 6%;
  margin-bottom: 0%;
}

.activite3 {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 15px;
  margin-bottom: 3%;
}

.Afficher-style
{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1.3rem;
  margin-top: 9%;
}

/***************FOOTER********************/
.Bloc_footer_flebox {
  justify-content: center;
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  padding: 7%;
}

.Section_a_propos {
  margin-bottom: 10%;
}

.A_propos_h3 {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  font-family: 'Raleway', Arial, Verdana, sans-serif;
  font-size: medium;
  margin-bottom: 10%;
  text-transform: uppercase;
  font-weight: bold;
}

.A_propos_ul {
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: block;
  font-family: 'Raleway',Circular, Georgia, Times New Roman, Times, serif;
  font-size: small;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.Nav_du_haut_fontsize_family
{
  font-size: clamp(1.1rem, 4vw, 2rem);
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0%;
  flex-shrink: 1;
  margin-right: 0px;
  margin-left: 0%;
width: auto;
}

.Nav_du_haut_fontsize_family2
{
  margin-top: 0%;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: clamp(1.1rem, 4vw, 2rem);
  color: black;
  flex-shrink: 1;
  height: auto;
  margin-bottom: 0px;
  width: auto;
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  padding-right: 0px;
  height: auto;
  margin-right: 0px;
}

.Nav_du_haut_fontsize_family3
{
  flex-shrink: 1;
  font-family: 'Raleway', Arial Narrow, Arial, sans-serif;
  font-size: clamp(1.1rem, 4vw, 2rem);
  color: dodgerblue;
  font-weight: bold;
  height: 20px;
  width: 82px;
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}


.precision-ol-activite
{
  padding-right: 20px;
  padding-left: 17px;
  margin-bottom: 0px;
  width: 72.367px;
  height: 24px;
  margin-left: 0px;
}

.signup
{
  margin-top: -25px;
  margin-left: 50%;
  border-left-width: 0px;
  border-left-style: solid;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 120px;
}

.Afficher-plus
{
  display: flex;
  width: inherit;
  padding: 3%;  
  font-size: 14px;
  margin-top: 0px;
}

.menu1
{
margin-bottom: 0px;
width: 50%;
display: flex;
align-items: center;
justify-content: center;
padding-left: 25px;
padding-right: 25px;
border-top: 0px;
height: 67px;
}

.menu2
{
border-top: 0px;
margin-bottom: 0px;
padding-right: 25px;
width: 50%;
padding-left: 25px;
display: flex;
align-items: center;
justify-content: center;
height: 67px;
}



.Rechercher
{
  display: none;
}

.epingle
{
  width: 19px;
  align-items: center;
  display: flex;
  padding: 16px;
  margin-left: 6px;
  justify-content: center;
}
.logo-epingle
{
  background-color: rgb(222, 235, 255);
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  font-size: 18px;
  height: 53px;
  width: auto;
}

.rechercher-loupe
{
  display: flex;
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1rem 1rem 1rem 1rem;
  height: 53px;
  width: auto;
  padding: 3%;
  align-items: center;
  justify-content: center;
}
}

@media screen and (min-width: 701px) and (max-width: 900px)
{
  /*
.Nav_du_haut_fontsize_family3
{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.logo_recherche_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 6%;
}

.logo_reservia {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 5%;
  width: 50%;
  height: 40px;
  align-items: center;
  justify-content: left;
}

.hebergements-activites-sinscrire
{
  display: flex;
  justify-content: flex-end;
  margin-left: 0px;
}

.Titres_header_barre_recherche_flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
*/
.Barre_recherche
{
  width: inherit;
  align-items: center;
  justify-content: center;
}

.Trouvez_Enplein {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7%;
  font-size: 1.65rem
}

.Filtres_flexrow {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}


.bloc-filtres-wrap-4items
{
  display: flex;
  flex-wrap: wrap;
}

.border-filtre-solid {
  border: 2px solid #d9d9d9;
  border-radius: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  margin-bottom: 3%;
  position: relative;
  margin-right: 5%;
  width: auto;
flex-wrap: wrap;
justify-content: flex-start;
}

.categorie-filtre {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 13px;
  margin-right: 8px;
}

.information-hebergement
{
  margin-top: 0px;
}


.body-top
{
  flex-direction: column;
}

.Hebergement
{
  flex:none;
  order:1;
}

.Appart-populaire {

  display: flex;
  justify-content: space-around;
  flex:none;
  margin-bottom: 8%;
  margin-left: 0px;
  padding-bottom: 14%;

}

.Les-plus-populaires {
  font-size: x-large;
  font-weight: bold;
  margin-right: 32%;
  display: flex;
}

.logo-chart {
  width: 5%;
}

.img-populaire-1 {
  background-image: url(Ressources/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  width: 40%;
  height: 12em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}


.img-populaire-3 {
  background-image: url(Ressources/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  width: 45%;
  height: 10em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}

.img-populaire-2 {
  background-image: url(Ressources/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  width: 45%;
  height: 10em;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}



.les-apparts-populaires2 {
height: auto;
background-color: white;
align-items: center;
display: flex;
border-radius: 1em;
padding: 2%;
box-shadow: 0 0 20px #0000002e;
margin-top: 2%;
margin-bottom: 2%;
}

.les-apparts-populaires {
  height: 30%;
  background-color: white;
  align-items: center;
  display: flex;
  border-radius: 1em;
  padding: 2%;
  box-shadow: 0 0 20px #0000002e;
}

.informations-populaires {
  width: 35%;
  margin-left: 0%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}


.filtre-borderpx-radius-icone-wrap
{
  background-color: rgb(222, 235, 255);
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
height: 50px;
width: 45px;
display: flex;
align-items: center;
justify-content: center;
}


/**********POPULAIRES*********/

.titre-logo-populaire-row {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  height: 60px;
  align-items: center;
  margin-bottom: 1em;
}

.Les-plus-populaires {
  font-weight: bold;
  margin-bottom: 0px;
margin-top: 0px;
margin-right: 44%;
height: 51px;
font-size: 1.8rem;
display: flex;
align-items: center;
}

.logo-chart {
  width: 9%;
  margin-top: 0px;
  height: 58%;
}

.lestobepopulaires
{
  height: 90%;
  margin-top: 0px;
}


.img-populaire-1 {
  background-image: url(Ressources/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  width: 45%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}

.h3-populaire
{
  float:none;
  line-height:normal;
  position:static;
  z-index:auto;
  width:128.367px;
  height: 48px;
  font-size: 2em;
  width: 100%;
  padding-bottom: 7px;
}


.modif-h3-populaire
{
  height: auto;
  font-size: 2.5vh;
  margin-top: 0px;
  width: 100%;
}

.prix-populaire
{
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.p-txte
{
  margin-top: 10%;
  margin-bottom: 0px;
  font-size: inherit;
}

.p-txte2
{
  margin-top: 10%;
  font-size: inherit;
}


/* HEBERGEMENT */

.information-hebergement
{
  width: 100%;
  height: 40%;
  margin-top: 0px;
}

.img-hebergement-1 {
  background-image: url(Ressources/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
}

.img-hebergement-2 {
    background-image: url(Ressources/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 1em 1em 0 0;
}

.img-hebergement-3 {
  background-image: url(Ressources/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
}

.img-hebergement-4 {
  background-image: url(Ressources/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
}

.img-hebergement-5 {
  background-image: url(Ressources/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
}

.img-hebergement-6 {
  background-image: url(Ressources/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 1em 1em 0 0;
}

.etoiles-hebergement
{
  font-size: 14px;
}
.h3-hebergement
{
  font-size: 14px;
}
.prix-optim-bloc
{
  font-size: 14px;
  padding-top: 6%;
  padding-bottom: 8%;
}


/*ACTIVITES*/

.section-Bloc-activités
{
  padding: 1%;
}

.activite2-3 {
  display: flex;
  flex-direction: column;
  width: 47%;
  justify-content: space-between;
}

.image-activite2
{
  height: 80%;
}


.img-petite-activite
{
  margin-top: 0%;
}

.activite2
{
padding-bottom: 0px;
margin-bottom: 0px;
height: 170px;
}

.activite3
{
  height: 170px;  
  margin-bottom: 7%;
  margin-top: 6%;
  padding: 0px;
}

.informations-populaires
{
  margin-left: 17%;
height: 160.283px;
width: 27%;
margin-left: 10%;
width: 42%;
}

.titre-pop-prix
{
  margin-bottom: 0px;
  height: 25%;
  margin-top: 1px;
}

.titre-Activités
{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}

.actvite-num-1
{
    width: 30%;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0px;
    height: 13em;
}

.titre-activite-grande-photo
{
  align-items: center;
  justify-content: flex-start;
  font-size: large;
  height: 21px;
  margin-top: 7%;
}

.activite2-3
{
  flex-direction: row;
  width: 67%;
}

.activite2
{
    width: 100%;
    margin: 1em;
}

.activite3
{
  height: 14em;
  width: 100%;
  margin: 1em;
}

.grande-photo-activite
{
  height: 9.3em;
}
.master-bloc-activites
{
  margin-top: 0px;
}

.image-activite2
{
  height: 90%;
}

.actvite-num-1
{
 width: 42%;
 margin-bottom: 0px;
height: 23em;
padding-bottom: 0px;
}

.photo-activite1
{
  height: 82%;
}

.grande-photo-activite
{
  height: 324px;
}

.titre-activite-grande-photo
{
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 2em;
  margin-top: 26px;
}

.h2
{
font-size:small
}

.activite2-3
{
  height: 25em;
  flex-direction: column;
  width: 50%;
  margin-right: 2em;
}

.activite2
{
  margin-bottom: 16px;
  height: 14em;
}

.titre-petite-activite
{
  margin-top: -8px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
  padding: 0px;
}

.img-petite-activite
{
  height: 138px;
}

.titre-petite-activite2
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  height: 20%;
  padding-bottom: 0px;
  padding-top: 0px;
}

.titre-activite-grande-photo2
{
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 2em;
  margin-top: 26px;
}

}

/*MEDIA POUR TABLETTE IPAD PRO du 14-07-2021 solution wrap ma gueule*/
@media screen and (min-width:901px) and (max-width:1023px)
{



.bloc-filtres-wrap-4items
{
  margin: auto;
  height: auto;
  width: auto;
  flex-direction: initial;
}

.Titres_header_barre_recherche_flexcolumn
{
 margin-bottom: 0px;
}

.Trouvez
{
  font-size: 2rem;
}

.body-top
{
  flex-direction: column;
}

.Hebergement
{
  flex:none;
  order: 2;
}

/***********POPULAIRES************/

.lestobepopulaires
{
  width: 100%;
  display: flex;
  align-items: center;
  height: 38em;
  justify-content: space-between;
}


.Appart-populaire
{
  margin-left: 0px;
  margin-top: 3rem;
  background-color: #f2f2f2;
  margin-bottom: 4%;
  margin-top: 0px;
  padding: 4%;
}


.les-apparts-populaires
{
  margin-bottom: 0px;
  margin-right: 0px;
  width: 100%;
  padding: 1%;
}

.img-populaire-1
{
width: 45%;
height: 10rem;
}

.informations-populaires
{
  padding-left: 49px;
  margin-left: 0px;
  width: 25%;
  font-size: 5px;
  line-height: 0.8;
  letter-spacing: -0.007em;
}

.etoile
{
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.174em;  
}

.les-apparts-populaires2
{
  margin-bottom: 34px;
  margin-top: 34px;
  display: flex;
  margin-left: 0px;
  width: 100%;
  padding: 1%;
}



.img-populaire-2
{
  width: 45%;
  height: 10rem;
  margin-left: 0em;
}

.img-populaire-3
{
  height: 10rem;
  width: 45%;
}


.titre-logo-populaire-row
{
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  align-items: center;
}


.Les-plus-populaires
{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  width: 66%;
  font-size: 2.9rem;
}

.logo-chart
{
  margin-left: 0px;
  height: 3.5em;
  margin-top: 0px;
  width: 43px;
}

/******ACTIVITES**********/


/*ACTIVITE*/

.titre-Activités
{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}

.actvite-num-1
{
    width: 30%;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0px;
    height: 170px;
}

.titre-activite-grande-photo
{
  align-items: center;
  justify-content: flex-start;
  font-size: large;
  height: 21px;
  margin-top: 7%;
}

.activite2-3
{
  flex-direction: row;
  width: 67%;
}

.activite2
{
  height: 13em;
    width: 50%;
    margin: 1em;
}

.activite3
{
  height: 170px;
  width: 50%;
  margin: 1em;
  margin-left: 1.5%;
}

.grande-photo-activite
{
  height: 9.3em;
}
.master-bloc-activites
{
  margin-top: 0px;
}

.image-activite2
{
  height: 90%;
}

.photo-activite1
{
  height: 82%;
}

.grande-photo-activite
{
  height: 125px;
}

.titre-activite-grande-photo
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

.h2
{
font-size:small
}

.activite2-3
{
  height: 13em;
}

.activite2
{
  margin-bottom: 40px;
  height: 170px;
}

.titre-petite-activite
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

.img-petite-activite
{
  height: 138px;
}

.titre-petite-activite2
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

.titre-activite-grande-photo2
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

/***********RECHERCHE ET FILTRES**************/

.Trouvez_Enplein
{
  align-items: center;
}

.Filtres_flexrow
{
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.filtres_bold
{
  font-weight: bold;
  font-size: 2rem;
  margin-right: 2%;
}


.bloc-filtres-wrap-4items
{
  flex-wrap: wrap;
  margin-left: 0px;
}


.border-filtre-solid
{
  margin-right: 5%;
margin-bottom: 2%;
}

.body-top
{
  flex-direction: column;
}

.Hebergement
{
  margin-bottom: 2%;
  background-color: white;
}

.marseille-titre
{
margin-bottom: 15px;
margin-top: 25px;
font-size: 2.9rem;
}

.hebergement-du-haut
{
  margin-bottom: 2%;
}

.titre-logo-populaire-row
{
margin-top: 0%;
width: 100%;
margin-bottom: 2em;
}

.logo-chart
{
  width: auto;

}

.img-populaire-1
{
  width: 45%;
height: 10rem;
}

.informations-populaires
{
  width: 33%;
justify-content: center;
margin-left: 0%;
height: 160px;
}

.titre-pop-prix
{
  margin-bottom: 17%;
}

.h3-populaire
{
  font-size: large;
}
.modif-h3-populaire
{
  width: 208.3px;
  font-size: x-large;
}

.prix-populaire
{
  margin-top: 9px;
font-size: medium;
}

.p-txte
{
  margin-bottom: 3%;
}

.titre-pop-prix
{
  margin-bottom: 17%;
}


/*************ACTIVITE*********/

/*
.activite1
{
  height: 460px;
}

.activite2-3
{
  height: 505.733px;
}

.h2
{
  font-size: 15px;
}

.titre-Activités
{
  font-size: 2.9rem;
}
*/
.Afficher-plus
{
  font-size: x-large;
}

}



/* /*MEDIA QUERY pour 1100 à 1270(peut-être ^^)*/
@media screen and (min-width: 1024px) and (max-width: 1280px)
{

.body-top
{
  flex-direction: column;
}

.Trouvez
{
  font-size: 2em;
  margin: .67em 0;
  margin-bottom: 0.5rem;
}

  .titre-logo-populaire-row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2%;
    height: 2em;
}

.Hebergement
{
  order: 2;
  padding: 2%;
}
.hebergement-du-haut
{
 margin-bottom: 2%;
}
.marseille-titre
{
  font-size: xx-large;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Appart-populaire
{
  height: auto;
  padding: 2%;
}

.les-apparts-populaires
{
  width: 145px;
  padding: 0.5%;
  width: 31%;
  height: 9em;
}

.informations-populaires
{
  height: 138.967px;
}

.prix-optim-bloc
{
  margin-bottom: 5px;
}


.les-apparts-populaires2
{
  margin-top: 0px;
  margin-bottom: 1%;
  padding: 0.5%;
  width: 31%
}


.Les-plus-populaires
{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  width: 66%;
  font-size: x-large;
}

.logo-chart
{
  height: inherit;
  margin-top: 0px;
  width: auto;
}

.lestobepopulaires
{
  flex-direction: row;
  height: auto;
  margin-bottom: 3%;
}

/********ACTVITES***********/

.marseille-titre
{
  margin-top: 4%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: x-large;
}



.Afficher-plus
{
 margin-top: 2%;
 margin-bottom: 4%;
}


/*ACTIVITE*/

.titre-Activités
{
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}

.actvite-num-1
{
    width: 30%;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0px;
    height: 13em;
}

.titre-activite-grande-photo
{
  align-items: center;
  justify-content: flex-start;
  font-size: large;
  height: 21px;
  margin-top: 7%;
}

.activite2-3
{
  flex-direction: row;
  width: 67%;
}

.activite2
{
  height: 13em;
    width: 50%;
    margin: 1em;
}

.activite3
{
  height: 170px;
  width: 50%;
  margin: 1em;
}

.grande-photo-activite
{
  height: 9.3em;
}
.master-bloc-activites
{
  margin-top: 0px;
}

.image-activite2
{
  height: 90%;
}

.actvite-num-1
{
  height: 170px;
  margin-right: 13px;
}

.photo-activite1
{
  height: 82%;
}

.grande-photo-activite
{
  height: 125px;
}

.titre-activite-grande-photo
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

.h2
{
font-size:small
}

.activite2-3
{
  height: 13em;
}

.activite2
{
  margin-bottom: 40px;
  height: 170px;
}

.titre-petite-activite
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

.img-petite-activite
{
  height: 138px;
}

.titre-petite-activite2
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}

.titre-activite-grande-photo2
{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  height: 20%;
}


}


/*@media screen and (min-width:1281px) and (max-width:1400px)
{

.titre-logo-populaire-row
{
  width: 100%;
  height: 35px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Les-plus-populaires
{
  margin-bottom: -1px;
  height: 23px;
  margin-top: 8px;
  margin-right: 7em;
}

.logo-chart
{
  width: 8%;
  height: 1.5em;
  margin-top: 5px;
  margin-left: 9px;
}
.image-activite2
{
  height: 93%;
}
}
*/



