/*HEADER*/

.logo_recherche_flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: Raleway, Arial, Verdana, sans-serif;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px
}

.logo_reservia {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Nav_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Raleway", Arial, Verdana, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px
}

.Hébergements_Activités_Sinscrire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.Nav_du_haut_fontsize_family {
    font-family: 'Raleway', Arial Narrow, Arial, sans-serif;
    font-size: 15px;
    color: dodgerblue;
}


/*********************RECHERCHER*************************/

.Titres_header_barre_recherche_flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.Trouvez_Enplein {
    display: flex;
    flex-direction: column;
}

.Trouvez {
    font-family: "Raleway", Arial, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px
}

.Barre_recherche {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: large;
    border-radius: 20px;
}

.logo-epingle
{
    background-color: rgb(222, 235, 255);
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    font-size: 18px;
    height: 50px;
    width: 50px
}

.type-search {
    font-family: "Raleway", Arial, Verdana, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    font-weight: bold;
    height: 50px;
    font-size: 1.2rem;
}

.Rechercher {
    background-color: rgb(0, 101, 252);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-right-radius: 10px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    font-family: "Raleway", Arial, Verdana, sans-serif;
    font-weight: 700;
    height: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 78.7667px
}


/*****FILTRES****/

.Filtres_flexrow 
{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.filtres_bold 
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 40px;
}


.categorie-filtre
{
    font-weight: bold;
    color: black;
    font-size: 20px;
    margin-left: 14px;
}


.bloc-filtres-wrap-4items
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.filtre-borderpx-radius-icone-wrap
{
    background-color: rgb(222, 235, 255);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 50px;
    width: 50px
    
}


.border-filtre-solid
{
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
}


.icone-filtre
{
    width: 30px;
    height: 30px;
    margin-left: 9px;
    margin-top: 9px;
}

.categorie-filtre
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 36px;
    margin-top: 13px;
}

/*Banniere information*/
.icone-information-texte
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}


.information
{
padding: 20px;
}

/*--------Appart prestation du haut*/

.body-top 
{
    display: flex;
    justify-content: space-between;
    -moz-box-align: center;
    margin-bottom: 100px;
}

.Hebergement
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    width: 60%;
}

.contenaire-hebergement-flex-columns-wrap
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}



.card-appart
{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
}

.Contenaire-hebergement
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-hebergement
{
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
}



.hebergement-du-haut
{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


.hebergement-du-bas
{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.titre-logement
{
    font-weight: bold;
    font-style: normal
}

.prix-logement
{
    padding-bottom: 11px;
}


.Appart-populaire
 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
}

.titre-logo-populaire-row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.Les-plus-populaires
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: xx-large;
    margin-left: 50px;
    margin-top: 50px;
}

.les-apparts-populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Appart-populaire-ul
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.box-droite-populaire
{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 80px;
}

.card-Appart-populaire
{
    border-radius: 20px;
    display: flex;
    background-color: white;
    padding: 5px;
    max-width: 284px;
    height: 177px;
    margin-bottom: 30px;
}

.image-populaire
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 15px;
    width: 178px;
    height: 178px;
    align-items: center;
    display: flex;;
}

.section-Bloc-activités 
{
    margin-top: 50px;
    margin-bottom: 50px;
}


.master-bloc-activites
{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;
}


.Bloc-activités 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titre_Activités 
{
    display: flex;
    align-items: flex-start;
    float: left;
}

.activite1
{
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.photo-activite1
{
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.grande-photo-activite
{
    width: 301px;
    height: 390px;
}
    
.titre-activite-grande-photo
{
margin: 0;
padding: 0;
font-size: medium;
}


.activite2-3
{
    display: flex;
    flex-direction: column;
}     /*CONFLIT A RESOUDRE*/

.activite2
{
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.img-petite-activite
{
    
    width: 304px;
    height: 183px;
}

.image-activite2
{
    width: 304px;
    height: 183px;
}

.titre-petite-activite
{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}

.activite3
{
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.Marseille 
{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-top: 40px
}    



.Afficher_plus 
{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*FOOTER*/

footer .Bloc_footer_dimension {
    width: 100%;
    justify-content: center;
}

.Bloc_footer_flebox {
    justify-content: center;
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    display: flex;
    flex-direction: row;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20.0167px;
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 48px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 48px;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal
}

.Section_a_propos {
    border-bottom-color: rgb(72, 72, 72);
    border-bottom-style: none;
    border-bottom-width: 0px;
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20.0167px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px
}

.A_propos_h3 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 17.1667px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase
}

.A_propos_ul {
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    display: block;
    flex-wrap: wrap;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20.0167px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.Fonctionnement_du_site {
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    flex-basis: 33.3333%;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 20.0167px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
}


/************************MISE EN FORME*****************************/

.texte_font_size_icone_filtre {
    font-size: small;
    font-weight: bold;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.iconechart
{
    display: flex;
    align-items: flex-end;
}

.chart-line-solid
{
    height: 50px;
}

.Marseille
{
    font-size: 30px;
    align-items: flex-start;
    margin-bottom: 9px;
}
}

.etoile-hebergement
{

}

ul
{
  list-style-type: none;
}


.Afficher-plus
{
    font-weight: bold;
    color: black;
    margin-left: 65px;
}

a:link 
{ 
 text-decoration: none;
} 

.titre-logement
{
    font-family: ;
    color: black;
}

.prix-logement
{
    color: black;
}


.epingle
{
    width: 15px;
    align-items: center;
    display: flex;
    padding: 14px;
    margin-left: 6px;
}

.logo-chart
{
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}


.information-icone
{
    width: 25px;
}

.logements-disponibles
{
    font-size: 20px;
}