        /*******/
/******SYNTHAXE TEXTE******/
        /*******/





        /********/
/******MISE EN FORME SITE*****/
        /*******/
.body
{
    background-color: white;
    
}


        /*********************/
            /***HEADER**/
        /*********************/




       /*********************/
/***section dessous header jusuq'à footer**/
        /*********************/

.body_top
{
display:flex;
flex-direction: column;
}

.body_top_left
{
        
}

.APPART_dessus
{
        
}

.APPART_dessous
{
         
}

.Appart_body_top_right
{

}












    /********/
/*PARTIE APPARTEMENTS*/
    /********/

